USE [master]
GO
/****** Objeto: Database [HistorialDB] Fecha de script: 1/9/2026 20:10:59 ******/
CREATE DATABASE [HistorialDB]
GO

CREATE LOGIN [usuario_historial] WITH PASSWORD = '1234', 
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [HistorialDB]
GO
/****** Objeto: User [usuario_historial] Fecha de script: 1/9/2026 20:10:59 ******/
CREATE USER [usuario_historial] FOR LOGIN [usuario_historial] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_historial]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_historial]
GO
/****** Objeto: Table [dbo].[HistorialClinico] Fecha de script: 1/9/2026 20:11:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialClinico](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[NumHistoria] [varchar](50) NOT NULL,
	[Diagnostico] [varchar](500) NOT NULL,
	[Tratamiento] [varchar](500) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_HistorialClinico] PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistorialClinico] ON 

INSERT [dbo].[HistorialClinico] ([IdHistorial], [IdPaciente], [NumHistoria], [Diagnostico], [Tratamiento], [Fecha]) VALUES (1, 1, N'H-000001', N'Paciente sano', N'Sin tratamiento', CAST(N'2026-08-25T23:50:50.250' AS DateTime))
INSERT [dbo].[HistorialClinico] ([IdHistorial], [IdPaciente], [NumHistoria], [Diagnostico], [Tratamiento], [Fecha]) VALUES (2, 2, N'H-000002', N'Resfriado común', N'Reposo y líquidos', CAST(N'2026-08-25T23:50:50.250' AS DateTime))
INSERT [dbo].[HistorialClinico] ([IdHistorial], [IdPaciente], [NumHistoria], [Diagnostico], [Tratamiento], [Fecha]) VALUES (3, 3, N'H-000003', N'Gripe', N'Antigripales y reposo', CAST(N'2026-08-25T23:50:50.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialClinico] OFF
GO
/****** Objeto: Index [IX_HistorialClinico_IdPaciente] Fecha de script: 1/9/2026 20:11:00 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialClinico_IdPaciente] ON [dbo].[HistorialClinico]
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialClinico] ADD  CONSTRAINT [DF_HistorialClinico_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
USE [master]
GO
