USE [master]
GO
/****** Objeto: Database [PacientesDB] Fecha de script: 1/9/2026 20:08:06 ******/
CREATE DATABASE [PacientesDB]
GO
CREATE LOGIN [usuario_pacientes] WITH PASSWORD = '1234', 
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [PacientesDB]
GO
/****** Objeto: User [usuario_pacientes] Fecha de script: 1/9/2026 20:08:07 ******/
CREATE USER [usuario_pacientes] FOR LOGIN [usuario_pacientes] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_pacientes]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_pacientes]
GO
/****** Objeto: Table [dbo].[Pacientes] Fecha de script: 1/9/2026 20:08:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Direccion]) VALUES (1, N'1234567890', N'Juan', N'Perez', N'Calle 123')
INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Direccion]) VALUES (2, N'0987654321', N'Maria', N'Gomez', N'Avenida 456')
INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Direccion]) VALUES (3, N'1112223334', N'Carlos', N'Lopez', N'Calle Principal 789')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
USE [master]
GO
